<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="Magento\Framework\Console\CommandListInterface">
        <arguments>
            <argument name="commands" xsi:type="array">
                <item name="not_checkout_to_send_email" xsi:type="object">Samary\Plan\Console\Command\NotCheckout</item>
                <item name="clean_not_checkout_send_email_history" xsi:type="object">Samary\Plan\Console\Command\CleanSendHistory</item>
            </argument>
        </arguments>
    </type>
</config>